@media (max-width: 1023px) {
	html {
		font-size: 93.75%;
	}
}

@media (max-width: 639px) {
	html {
		font-size: 87.5%;
	}
}

body {
	font-family: 'Inter', sans-serif;
	@apply text-text bg-background;
}
