@media (max-width: 1023px) {
	html {
		font-size: 93.75%;
	}
}

@media (max-width: 639px) {
	html {
		font-size: 87.5%;
	}
}

body {
	font-family: 'Inter', sans-serif;
	@apply text-text bg-background;
}

.font-rajdhani {
	font-family: Rajdhani;
}

.slide-fade-enter-active {
	transition: all .4s ease;
}

.slide-fade-leave-active {
	transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
	transform: translateY(10px);
	opacity: 0;
}
